---
title: Events
layout: layouts/page.njk
stylesheet: none
background: bg-white
sidebar: toc
permalink: /events/
eleventyNavigation:
  key: Events
  order: 7
  parent: Home
---

<h2>Featured events</h2>

<div class="container py-3" id="featured-3">
  <div class="row g-2">

    {% set postslist = collections.events %}
    {% include "event-cards.njk" %}

  </div>
</div>

<h2>Fastcode calendar</h2>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&showPrint=0&showCalendars=0&src=Njc4MDM2NjNmYWU2MmYxZGMwOGNmYzE1MTI0YTU4NGY5Y2IzNzU0NTIzYTdkN2JlNzQ2M2Q3MDhkZDhiYzA5YkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YmEyZTVjZDI3NGRkNjc2MDAzNzg0MDk5YTE2MTliYTRlNWNkNjg4MjAzNTkyZjIzY2U5ZDU1NTIyNmMzMjhjNEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<h2>Conferences of interest</h2>

<div class="container py-3" id="featured-3">
  <div class="row g-2">

    {% include "conf-cards.njk" %}

  </div>
</div>